<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="/">Refusal<b>Check</b></a> </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li> <a class="page-scroll" href="#how">How to Use Refusal Check</a> </li>
        <li> <a class="page-scroll" href="#about">About Refusal Check</a> </li>
      </ul>
    </div>
    <!--/.nav-collapse --> 
    
  </div>
  <hr>
</div>

<!--/ Fixed navbar --> 

<!--headerwrap -->

<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1>Search for a FDA Refusal...</h1>
        <h4>Enter a Manufacturer Name or Product Category.</h4>
        <form class="form-inline" role="form" >
          <div class="input-group autocomplete">
           <input ng-disabled="loginLoading" type="text" class="form-control pull-left" style="width: 400px; margin-right: 35px, border: 1px solid black; background-color: #e5e5e5;" autofocus ng-model="query" placeholder="Search a new manufacturer or product" typeahead-min-length="2" typeahead="type.description for type in getTypes($viewValue)" typeahead-loading="loadingLocations" typeahead-on-select='onSelect($item, $model, $label)' >
          <span class="input-group-btn">
          <button type="submit" class="btn btn-default" ng-click="search();"> <span class="glyphicon glyphicon-search"> <span class="sr-only">Search</span> </span> </button>
          </span>
        </form>
      </div>
    </div>
     <div class="col-lg-6"> <img class="img-responsive" src="img/ipad-hand.png" alt=""> </div>
    <!-- /row -->
    <hr>
  </div>
  <!-- /container --> 
  
</div>
<!-- /headerwrap --> 

<!-- How To Use Refusal Check Section -->
</section>
<section id="how">
  <div class="container">
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3"> <br>
        <h1>How do you use Refusal Check?<br/>
          Step by Step Guide</h1>
        <h3>Refusal Check is a way to look at FDA refusals.....</h3>
      </div>
    </div>
    <!-- /row -->
    
    <div class="row mt centered">
      <div class="col-lg-4"> <img src="img/ser02.png" width="180" alt="enter">
        <h4>1 - Search</h4>
        <p>Search for any Manufacturer Name or Product Category.</p>
      </div>
      <!--/col-lg-4 -->
      
      <div class="col-lg-4"> <img src="img/ser03.png" width="180" alt="results">
        <h4>2 - Learn</h4>
        <p>View all refusals associated with your search and see trending data within the last year.</p>
      </div>
      <!--/col-lg-4 -->
      
      <div class="col-lg-4"> <img src="img/ser01.png" width="180" alt="">
        <h4>3 - Share</h4>
        <p>Share your results with others or save them for later</p>
      </div>
      <!--/col-lg-4 --> 
    </div>
    <!-- /row -->
    <hr>
  </div>
  <!-- /container --> 
  <!-- /How To Use Refusal Check Section --> 
  
  <!-- About Refusal Check Section --> 
</section>
<section id="about">
  <div class="container">
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3"> <br>
        <h1>About Refusal<strong>Check</strong></h1>
      </div>
    </div>
    <!-- /row --> 
    
    <!-- Carousel -->
    
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> 
          <!-- Indicators -->
            <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>
          
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active"> <img src="img/p01.png" alt=""> <h3>Compare Refusal Trends</h3>
        <h6>See how refusals increase or decrease over time with clear visualizations.</h6> </div>
            <div class="item"> <img src="img/p02.png" alt=""> <h3>Easy Access to Refusal Data</h3>
        <h6>See how refusals increase or decrease over time with clear visualizations.</h6></div>
            <div class="item"> <img src="img/p03.png" alt=""> <h3>Be Aware</h3>
        <h6>Know what manufacturers and product categories have the highest number of refusals.</h6></div>
          </div>
        </div>
      </div>
      <!-- /col-lg-8 --> 
    </div>
    <!-- /row --> 
  </div>
  <!-- /container --> 
</section>
<!-- /About Refusal Check Section --> 

<!-- Created by Olabs --> 
<!-- container -->
<div class="container">
  <div class="row centered">
    <hr>
    <p class="centered">Created by <br>
      <img src="img/olabs_logo_sm.png" alt="Olabs"> </p>
  </div>
  <!-- /row --> 
  
</div>
<!-- /container --> 
<!-- /Created by Olabs --> 
